<ion-list class="ion-padding-top">
  <ion-list-header>
    <ion-label>
      <strong>{{ titulo }} - {{ subtitulo }}</strong>
    </ion-label>
  </ion-list-header>

  <ion-card *ngFor="let fav of favoritos">
    <ion-item lines="none" class="favorito-item" (click)="verFavorito(fav._id)">
      <div class="favorito-thumb">
        <img *ngIf="fav.imagen; else sinImagen" [src]="fav.imagen" alt="Imagen favorito" />
        <ng-template #sinImagen>
          <div class="sin-imagen">
            <ion-icon name="heart-outline" size="large"></ion-icon>
          </div>
        </ng-template>
      </div>
      <ion-label>
        <div class="favorito-info">
          <h2>
            <ion-icon name="heart-outline"></ion-icon>
            {{ fav.nombre || 'Sin nombre' }}
          </h2>
          <div class="favorito-detalles">
            <span *ngIf="fav.tipo">
              <ion-icon name="pricetag-outline"></ion-icon>
              {{ fav.tipo }}
            </span>
            <span *ngIf="fav.direccion">
              <ion-icon name="location-outline"></ion-icon>
              {{ fav.direccion }}
            </span>
          </div>
        </div>
      </ion-label>
      <ion-button fill="clear" (click)="toggleFavorito(fav)">
        <ion-icon
          [name]="esFavorito(fav._id) ? 'heart' : 'heart-outline'"
          color="danger">
        </ion-icon>
      </ion-button>
    </ion-item>
    <!-- Se eliminó el ion-card-content con el ID -->
  </ion-card>
</ion-list>

<ng-container *ngIf="!favoritos || favoritos.length === 0">
  <ion-text color="medium">No tienes sitios favoritos.</ion-text>
</ng-container>